.welcome-to{
    height: 252px;
    left: 87px;
    top: 130px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.slogan{
    position: absolute;
    width: 397px;
    left: 120px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.get-started {
    position: absolute;
    background: #46B05D;
    border-radius: 15px;
    border-color: #46B05D;

    /* Get Started */
    width: 106px;
    height: 32px;
    left: 270px;
    top: 490px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.home-img{
    width: 858px;
    height: 578px;
    left: 486px;
    top: 223px;
    border-radius: 35px;
}

.lessons{
    width: 312px;
    height: 98px;
    left: 53px;
    top: 455px;

    background: rgba(247, 195, 46, 0.15);
    border-radius: 20px;

    /* 10K Online Lessons */

    height: 46px;
    left: 140px;
    top: 881px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.tutors{
    width: 312px;
    height: 98px;
    left: 395px;
    top: 855px;

    background: rgba(29, 59, 83, 0.1);
    border-radius: 20px;

    /* 200+ Expert Tutors */

    height: 46px;
    left: 491px;
    top: 881px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.students{
    width: 312px;
    height: 98px;
    left: 737px;
    top: 855px;

    background: rgba(111, 66, 193, 0.1);
    border-radius: 20px;

    /* 60K+ Online Students */

    height: 46px;
    left: 821px;
    top: 881px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.certified{
    width: 312px;
    height: 98px;
    left: 1079px;
    top: 855px;

    background: rgba(23, 162, 184, 0.1);
    border-radius: 20px;

    /* 2K+ Certified Exams */

    height: 46px;
    left: 1166px;
    top: 881px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.why-daily {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
}

.why-content {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
}
.social-media{
    width: 30px;
    height: 30px;
}
.why-img{
    position: absolute;
    left: 120px;
    top: 878px;
}
