<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <section class="header">
        <img class="logo" src="https://media.istockphoto.com/id/1162814361/vector/cute-koala-paws-up-over-wall-koala-peeking-cartoon-icon-vector-illustration.jpg?s=612x612&w=0&k=20&c=hgpdCXvHDIlC4mEzbn5QFRIH-JjqZpyj3BHQShL4-QY=">
        <h1 class="title">Daily</h1>
        <button class="menu-item" style="left: 431px">Home Page</button>
        <button class="menu-item" style="left: 644px">Courses</button>
        <button class="menu-item" style="left: 833px">Lecturers</button>
        <input class="search">
    </section>
    <section class="welcome">
        <h1 class="welcome-to">WELCOME TO DAILY!</h1>
        <h2 class="slogan">The free, fun, and effective way to learn a language!</h2>
        <button class="get-started">Get Started</button>
        <img src="online-tutorials-concept_52683-37480.png" class="home-img">
    </section>
    <section class="numbers">
        <div class="info">
            <h1 class="lessons">10K Online Lessons</h1>
            <h1 class="tutors">200+ Expert Tutors</h1>
            <h1 class="students">60K+ Online Students</h1>
            <h1 class="certified">2K+ Certified Exams</h1>
        </div>
    </section>
</body>
</html>
