<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<header class="header">
    <img class="logo" src="https://cdn-icons-png.flaticon.com/512/616/616429.png">
    <h1 class="title">Daily</h1>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <input class="search">
</header>
<div class="welcome">
    <h1 class="welcome-to">WELCOME TO DAILY!</h1>
    <h2 class="slogan">The free, fun, and effective way to learn a language!</h2>
    <button class="get-started">Get Started</button>
    <img src="online-tutorials-concept_52683-37480.png" class="home-img">
</div>
<div class="numbers">
    <div class="info">
        <h1 class="lessons">10K Online Lessons</h1>
        <h1 class="tutors">200+ Expert Tutors</h1>
        <h1 class="students">60K+ Online Students</h1>
        <h1 class="certified">2K+ Certified Exams</h1>
    </div>
</div>
</body>
</html>
